body{
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

.heading{
  color:black;
  font-size: 2rem;
  font-weight: bolder;
  margin-bottom: 0px;
  padding: 0;
}

.sub-heading{
  color: grey;
  margin-bottom: 20px;
  margin-top: 0px;
}

.table-heading{
  color: black;
}

.refresh-button{
  padding: 10px 12px;
  border-radius: 7px;
  border: none;
  font-size: 1.5rem;
  background-color: black;
  color: white;
  cursor: pointer;
}

.total-value{
  color: green;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.hyperlink1{
  text-decoration: none;
  margin-left: 20px;
  color: grey;
}

.hyperlink1:hover{
  text-decoration: underline;
  font-weight: bolder;
}
